*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HOME */
#home{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.home__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
.home__header a{
    margin-right: 20px;
    text-decoration: inherit;
    font-size: 15px;
    color: rgba(0,0,0,0.87);
}
.home__header a:hover{
    text-decoration: underline;
}
.home__header--right{
    display: flex;
    align-items: center;
    max-width: 13vw;
    justify-content: space-between;
}
.home__header--right > .MuiSvgIcon-root{
    margin-right: 20px;

}
.header__right--icon > .MuiSvgIcon-root{
    font-size: 40px;
    color: lightgrey;
}


/* BODY */
.home__body{
flex: 1;
display: flex;
margin: 10%;
flex-direction: column;
}

.body__img{
    object-fit: contain;
    height: 100px;
}

/* SEARCH */

.search__input--container{
    display: flex;
    align-items: center;
    border: 1px solid lightgrey;
    padding: 10px 20px;
    width: 75vw;
    border-radius: 999px;
    height: 52px;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}
.search__input{
    flex: 1;
    padding: 10px 20px;
    border: none;
}
.search__input:focus{
    outline-width: 0;
}
.search__input--icon{
    color: grey;
}
.search__buttons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.search__buttons button{
    margin: 5px;
    padding: 7px 15px;
    background-color: #f8f8f8;
    border: 1px solid white;
    text-transform: inherit;
    color: #5f6368;
}
.search__buttons button:hover{
    
}